{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">/{{=request.application}}/{{=request.controller}}/{{=request.function}}</h1>
  </div>
  
</div>
<div class="container">
  <form method="POST" action="#">
    <!-- action="/welcome/default/newtask" -->
    <div class="form-group">
      <label for="title">Escribe un título para la tarea.</label>
      <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">
    </div>
    <div class="form-group">
      <label for="description">Escribe una descripción</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}





