{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">/{{=request.application}}/{{=request.controller}}/{{=request.function}}</h1>
  </div>
  
</div>
<div class="container">
  <form method="POST" action="#">
    <div class="form-group">
      <label for="title">Escribe un título para la tarea.</label>
      <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" placeholder="{{=task.title}}">
    </div>
    <div class="form-group">
      <label for="description">Escribe una descripción</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="{{=task.description}}">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{end}}





