{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">/{{=request.application}}/{{=request.controller}}/{{=request.function}}</h1>
  </div>
  
</div>
<div class="container">

  <a href="{{=URL('addtask')}}" class="btn text-white bg-success mb-3">Crea una tarea</a>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{for task in tasks:}}
        <tr>   
          
          <td>{{=task['id']}}</td>
          <td>{{=task['title']}}</td>
          <td>{{=task['description']}}</td>
          <td>{{=task['date']}}</td>
          <td>
            <a href='{{=URL("task", args=[task['id']])}}' class="btn btn-primary">Editar</a> 
            <a href='{{=URL("delete", args=[task['id']])}}' class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {{pass}}

    </tbody>
  </table>   
</div>
{{end}}





